
@font-face {
    font-family: Dancing-Script;
src: url(../fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);
}

body{
    min-width: 900px;
    background-color: rgba(226, 248, 238, 0.89);
}

.main-colored{
    background-color: rgba(90, 255, 173, 0.753);
}

#navbar{
    min-height: 130px;
    text-align: center;
    padding: 15px 2% 0 5%;
    margin: 0;
    margin-bottom: 25px;
    list-style: none;
    display: block;
    flex-wrap: wrap;
    align-items: center; 

}

#site-name{
    font-size: 4.0em;
    font-family: Dancing-Script;
    font-weight: bold;
    float: left;
}

#login-form{
    float: right;
    margin: 0 auto;
}

.grid-container{
    display: inline-grid;
    grid-gap: 50px;
  }

.capa-de-livro{
    width: 300px;
    height: 450px;
}

.center-container{
    position: relative;
    width:60%; 
    margin:auto; 
    padding:20px;
    border-radius: 10%;
}

.botao-voltar{
    color: rgba(0, 0, 0, 1);
    padding: 10px;
    font-family: Dancing-Script;
    font-size: 20px;
}

#admin-panel{
    color: black;
    padding: 20px;
    margin-top: 100px;
    background-color: slategray;
    width: fit-content;
}

#admin-form{
    width: 500px;
    text-align: left;
    background-color: rgb(147, 169, 190);
    padding: 5px;
}
#admin-form > input[type=text], input[type=number]{
    margin: 2px;
    margin-left: 0px;
    width: 99%;
    align-self: right;
}
#admin-form > input[type=submit]{
    margin-left: 2px;
    margin: 0 auto;
}
.alinha{
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.elemento-alinhado{
    margin: 10px 5% 10px 5%;
    padding: 10px;
}

.book-card-img{
    height: 250px;
}

.product-card{
    border-radius: 10px;
    margin: 15px;
    padding: 8px;
    max-width: 380px;
}
