@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';
@import 'variables';

body{
    min-width: 900px;
    /*background-color: rgba(226, 248, 238, 0.89);*/

    background-image: url("../img/geometric-picture.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}