body {
	height: 100%;
	width: 100%;
	background-image: url("../imgs/geometric-picture.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

a {
	color: black;
}

#profile-option, #cart-option {
	height: 330px;
	width: 360px;
	background-color: aliceblue;
	border-radius: 14px;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

#profile-option {
	left: 450px;
}

#cart-option {
	right: 450px;
}

.icon {
	display: block;
  margin: auto;
  height: 124px;
  width: 124px;
	border-radius: 50%;
 }

h1 {
	font-family: 'Pattaya', sans-serif;
	font-size: 40px;
	text-align: center;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	text-align: center;
	margin-bottom: 5px;
}

#info-container, #edit-container, #cart-container {
	width: 320px;
	background-color: aliceblue;
	border-radius: 10px;
	padding: 50px;
	position: absolute;
	left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#info-container {
	height: 675px;
}

#edit-container {
	height: 685px;
}

#cart-container {
	height: 655px;
}

form {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

input{box-sizing:border-box}

input {
	border-radius: 5px;
	border-style: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	height: 34px;
	width: 100%;
}

button {
	height: 40px;
	border-style: none;
	border-radius: 20px;
	position: relative;
	left: 50%;
  transform: translate(-50%, 0);
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: white;
	cursor: pointer;
}

#edit {
	margin-top: 25px;
	width: 90px;
	background-color: deepskyblue;
}

#update {
	margin-top: 55px;
	width: 110px;
	background-color: deepskyblue;
}

#buy {
	margin-top: 45px;
	width: 85px;
	background-color: #c23a2c;
}

#book-list {
	height: 156px;
	width: 320px;
	background-color: lightgrey;
	border-radius: 5px;
	overflow: auto;
}

.book {
	height: 54px;
	width: 286px;
	background-color: white;
	border-radius: 3px;
	margin-top: 7px;
	margin-left: 7px;
}

.title {
	font-family: 'Crimson Text', serif;
	font-style: italic;
	font-size: 19px;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  text-align: left;
  left: 10px;
}

.price {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: bold;
	position: relative;
	top: -16px;
  transform: translate(0, 50%);
  text-align: right;
  right: 10px;
}

/*#total-price-block {
	height: 40px;
	width: 130px;
	border-style: solid;
	border-color: grey;
	border-radius: 20px;
	border-width: 2px;
	position: relative;
	left: 50%;
  transform: translate(-50%, 0);
}*/

/*#total-price-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	position: relative;
  top: 50%;
  transform: translate(0, -50%);
}*/

.pill-block {
	height: 30px;
	border-style: solid;
	border-color: grey;
	border-radius: 20px;
	border-width: 2px;
	position: relative;
	left: 50%;
  transform: translate(-50%, 0);
}

.pill-block-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	position: relative;
  top: 50%;
  transform: translate(0, -50%);
}
